<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="МФЦ Иркутской области">
        <link rel="icon" type="image/png" href="/images/favicon.png">
<<<<<<< HEAD
        <title>{% block title %}Welcome!{% endblock %}</title>     
        <link href="/build/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="/build/bootstrap.min.js" crossorigin="anonymous"></script>
        
=======
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
>>>>>>> 3b3d23ce2b099a95547e076269523c946dd2a493
    </head>
    <body>
        <div class="container mt-3">
            <div class="row d-flex justify-content-center">
                {% block body %}{% endblock %}                
            </div>            
        </div>        
    </body>
</html>
